XML/Projects_done_at_IU/Exercises/rpmullig_DTD2/rpmullig_amazonPerception.dtd

<?xml version="1.0" encoding="UTF-8"?>

	<!ELEMENT INVENTORY (BOOK+)>
	   <!ELEMENT BOOK (TITLE, SUBTITLE?, AUTHOR,  COAUTHOR*, QUANTITY, PRICE)>
		  <!ELEMENT TITLE (#PCDATA)>
		  <!ELEMENT SUBTITLE (#PCDATA)>
		  <!ELEMENT AUTHOR (#PCDATA)>
		  <!ELEMENT QUANTITY (#PCDATA)>
		  <!ELEMENT COAUTHOR (#PCDATA)>
		  <!ELEMENT PRICE (#PCDATA)>
	