XML/Projects_done_at_IU/Projects/rpmullig_proejct2/rpmullig_project2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="artist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="artistName" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="artistType" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="artistCountry" type="xs:string"/>
              <xs:element name="groupNames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="careerStart" minOccurs="0" >
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="careerEnd" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>               
              <xs:element name="Genre" type="xs:string" />
              <xs:element name="album">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Rating" >
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:maxInclusive value="10"/>
                          <xs:minInclusive value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Comment">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="10" />
                          <xs:maxLength value="250" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="albumName" minOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="albumCategory" use="required">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="Grammy_Winner"/>
                                  <xs:enumeration value="Grammy_Nominee"/>
                                  <xs:enumeration value="Personal_Favorite"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="type" type="productType" use="required" >
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="albumCover">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="Album_Images/([a-zA-Z_0-9%-]*)(.)(jpeg|png|jpg)" />
                        </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="imageSource" type="xs:string" />
                    <xs:element name="producers" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="mixers" minOccurs="0"  maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="masterEngineers" minOccurs="0"  maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="label" minOccurs="0" type="xs:string" />
                    <xs:element name="releaseInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="releaseData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="releaseDate" minOccurs="0" >
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="([0-9]*)(/)([0-9]*)(/)([0-9]{4})" />
                                      <xs:pattern value=""></xs:pattern>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="0" name="recordLabel" type="xs:string" />
                                <xs:element minOccurs="0" name="recordLabelCatalogNumber" type="xs:string" />
                                <xs:element minOccurs="0" name="barCodeNumber" type="xs:string" />
                                <xs:element minOccurs="0" name="country" type="xs:string" />
                                <xs:element minOccurs="0" name="format" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="trackList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="song">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="songName" type="xs:string" minOccurs="1" maxOccurs="1" />
                                <xs:element name="songLength"  minOccurs="1" maxOccurs="1" >
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="([0-9]*)(:)[0-9]{2}" />
                                  </xs:restriction>
                                </xs:simpleType>
                                </xs:element>
                                <xs:element name="composers" type="xs:string" />
                                <xs:element name="songNumber" type="xs:integer" minOccurs="1" maxOccurs="1" />
                              </xs:sequence>
                              <xs:attribute name="sku" use="required" >
                                <xs:simpleType>
                                  <xs:restriction base="xs:ID">
                                    <xs:pattern value="(K315FL15)[A-Z]([0-9]{3})" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="albumref" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:IDREF">
                                    <xs:pattern value="(K315FL15)([A-Z])"></xs:pattern>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="sku" use="required" >
                    <xs:simpleType>
                    <xs:restriction base="xs:ID">
                      <xs:pattern value="(K315FL15)([A-Z])" />
                    </xs:restriction>
                  </xs:simpleType>
                 </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>




  <xs:simpleType name="productType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="song"/>
      <xs:enumeration value="album"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>